@model LABA1.Landlords

@{
    ViewData["Title"] = "Удаление";
}


<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h1>Удаление</h1>
    <h4>Арендодателя</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContartPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContartPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.Country)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
<img style="position: absolute; bottom:30px;right:15px; " src="~/css/fon.png" border="0" width=400px; />
